    <!-- About Section -->
    <section id="about" class="container content-section text-center">
    <div class="row">
     <div class="col-lg-12">
          <h2>About</h2>
          <p class="text-muted about-me text-center">An aspiring Full Stack Web Developer with extensive experience in Business Development, B2C Sales and Technical Recruitment.</p>
          <p class="text-muted about-me">Having worked with many awesome developers and inspiring tech companies during my career in B2B/B2C Sales and Recruitment, I have decided to finally realise my long standing goal of learning coding by attending General Assembly’s <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a> program. 12-Weeks, all day everyday,web development bootcamp, where I experienced working in an Agile environment, attending daily Scrums, learning the key aspects of programming while building full-stack web applications and APIs using JavaScript and Ruby.</p>
          <p class="text-muted about-me">Having now built a solid foundation of knowledge I seek a role where I continue my development and put into practice the skills that I have acquired.</p>
        </div>
      </div>
      <br>
      <div class="container">
       <div class="row">
         <div class="col-lg-12 text-center">
         <br>
         </div>
       </div>
       <div class="row text-center">
         <div class="col-md-4">
           <span class="fa-stack fa-4x">
            <!--  <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
             <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
           </span>
           <h5 class="service-heading">Front-end development</h5>
           <p class="text-muted">HTML | CSS | Javascript (JQuery) | Bootstrap</p>
         </div>
         <div class="col-md-4">
           <span class="fa-stack fa-4x">
        <!--      <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
             <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
           </span>
           <h5 class="service-heading">Back-end Development</h5>
           <p class="text-muted">Node.js(Express) | Ruby (Ruby on Rails | Sinatra)</p>
         </div>
         <div class="col-md-4">
           <span class="fa-stack fa-4x">
         <!--     <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
             <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
           </span>
           <h5 class="service-heading">Javascript Frameworks</h5>
           <p class="text-muted">AngularJS | Backbone.js | Meteor</p>
         </div>
       </div>
     </div>
   </section>
