    <section id="download" class="content-section text-center">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <a href="#" data-toggle="modal" data-target="#MathQuizz"><img class="preview" src="../img/MathQuizz.png" alt="MathQuizz Screenshot"></a>
            <div id="MathQuizz" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">MathQuizz</h4>
                  </div>
                  <div class="modal-body">
                    <p>The user must assess the unfinished equation by remembering where the correct equation operator is before they are hidden.</p>
                    <p>The game was developed as a 4 day project using JavaScript, HTML5 and CSS.</p>
                    <p><a href="https://.herokuapp.com" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/anvarturobov/wdi_project_one" class="btn btn-default" role="button" target="_blank">View Code</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <a href="#" data-toggle="modal" data-target="#ReiseFoto"><img class="preview" src="../img/ReiseFoto.png" alt="ReiseFoto Screenshot"></a>
            <div id="ReiseFoto" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ReiseFoto</h4>
                  </div>
                  <div class="modal-body">
                    <p>ReiseFoto seamlessly combines photography and tourism, the users are able to search for photographers by their travel destinations, see portfolios and various photo-shoot ideas.</p>
                    <p>ReiseFoto was developed as an individual 4 day project using Ruby, Rails, HTML5, CSS and Foundation.</p>
                    <p><a href="#" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/anvarturobov/ReiseFoto" class="btn btn-default" role="button" target="_blank">View Code</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <a href="#" data-toggle="modal" data-target="#WeLunch"><img class="preview" src="../img/WeLunch.png" alt="WeLunch Screenshot"></a>
            <div id="WeLunch" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">WeLunch</h4>
                  </div>
                  <div class="modal-body">
                    <p>WeLunch - Social networking app that allows registered users to arrange for a lunch with other professionals.</p>
                    <p>LinkedIn and map-based app was developed as a group 4 day project using Node, Express, Mongoose, Linkedin API, JavaScript, AJAX, HTML5, CSS and Foundation.</p>
                    <p><a href="http://www.welunch.uk/login" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/AnvarTurobov/project-3/tree/development" class="btn btn-default" role="button" target="_blank">View Code</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <a href="#" data-toggle="modal" data-target="#TutorialsJS"><img class="preview" src="../img/TutorialsJS.png" alt="MathQuizz Screenshot"></a>
            <div id="TutorialsJS" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TutorialsJS</h4>
                  </div>
                  <div class="modal-body">
                    <p>TutorialsJS is library of video turorials on JavaScript and JavaScript based frameworks.</p>
                    <p>The app was developed as an individual 24 hour hackathon project using Meteor, Bootstrap and CSS.</p>
                    <p><a href="#" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/anvarturobov/WDI-24hour-Hackathon" class="btn btn-default" role="button" target="_blank">View Code</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>